<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>KV Food Delivery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style type="text/css">
   body { background: #FFCC00 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
<link rel="stylesheet" href="assets/styles.css">

</style>

</head>
<body>

{{template "new-navbar"}}

<div class="container maincontainerindex">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm mt-5">
      <img src="https://i.ibb.co/F4SWqvz/muchas-gracias-resized.png" class="rounded shadow-sm p-2 mb-3 bg-white rounded">
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10 rounded shadow-sm p-2 mb-3 bg-white rounded">
<dv class="container p-1">
<h3>Here are all the system queues on KV Food Delivery:</h3>
</div></div>

<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10">
<dv class="container p-1">
<div class="row">
<div class="col-sm-8"><h4>System Queue Number</h4></div>
<div class="col-sm-4"><h4>Transaction ID</h4></div>
</div>

<div class="row">

{{range $KEY, $VALUE := .}}

<div class="col-sm-8"><h5>{{$KEY}}</h5></div>
<div class="col-sm-4"></div>

{{range $TRANSID := $VALUE.TransID}}


<div class="col-sm-8"><p>Associated Transaction Number</p></div>
<div class="col-sm-4"><p>{{$TRANSID}}</p></div>

{{end}}

<div class="col-sm-8">Order Tagged to User:</div>
<div class="col-sm-4"><p>{{$VALUE.UserName}}</p></div>

<div class="col-sm-8">User Account Type:</div>
<div class="col-sm-4"><p>{{$VALUE.UserRole}}</p></div>

<div class="col-sm-8">Order Priority Index:</div>
<div class="col-sm-4"><p>{{$VALUE.PriorityIndex}}</p></div>

{{end}}

</div>

<div class="container bg-light ml-10 mr-10">

<form action ="/" method="post"> 
 
  <div class="row">
  <div class="col-sm-8 mb-1"></div>
  <form action ="/" method="post">
  <div class="col-sm-4"><div class="col-sm-2"><button type="submit" class="btn btn-dark text-justify">Home</button></div></div>
  </div>
  </form>

  </form>
  <div class="container pb-4"></div>

</div>
</div>

</body>
</html> 
