<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KV Food Delivery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <style type="text/css">


  html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

   body { background: #FFCC00 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
<link rel="stylesheet" href="assets/styles.css">

</style>

</head>
<body>

 {{template "new-navbar" . }}

<div class="container maincontainerindex">
  <div class="row mt-5">
    <div class="col-sm">
    </div>
    <div class="col-sm shadow-lg">
      <img src="assets/rs2.png">
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<div class="container pb-5"></div> 
<div class="container bg-light ml-10 mr-10 rounded-lg shadow-sm pt-2 pl-5 pr-6 mb-3 bg-white">
<div class="container">
<h3>What Are You Craving For Today?</h3>

<form method="post"> 

    <div class="form-group pt-1">
    <label for="exampleFormControlInput1"></label>
    <input type="text" class="form-control" name="searchtext" placeholder="Fried Chicken ..">
  </div>
      {{/* <input type="submit"> */}}
      <button type="submit" name="searchFood" class="btn btn-dark text-justify">Search</button>
      <div class ="container pb-3"></div>

</form>

</div></div>



<div class="container pb-4"></div>


</body>

{{template "new-footer"}}

</html> 

